.home{
    background-image: url(https://media.istockphoto.com/id/904008250/photo/stage-white-smoke-spotlight-background.jpg?b=1&s=170667a&w=0&k=20&c=axp-DRbtHbrWeKtVvbgoa5vV_Q-YvXlIrR7xHqxFQik=);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}